.height-center {
  height: calc(80vh);
}

.pull-left {
  text-align: left;
  padding: 5px;
}
.pull-right {
  text-align: right;
  padding: 5px;
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-delay: 1s;
  animation-name: autofill;
  animation-fill-mode: both;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: rgb(215, 215, 215);
    mix-blend-mode: difference;
    background: transparent;
  }
}
@keyframes autofill {
  0%,
  100% {
    color: rgb(215, 215, 215);
    mix-blend-mode: difference;
    background: transparent;
  }
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}