$primary: #004C99;
$secondary: #f6be00;
$accent: #673ab7;
$error: #FF5252;
$warning: #FB8C00;
$info: #2196f3;
$success: #4CAF50;

:export {
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
  error: $error;
  warning: $warning;
  info: $info;
  success: $success;
}
