$primary: #009540;
$secondary: #3f51b5;
$accent: #673ab7;
$error: #f44336;
$warning: #ff5722;
$info: #2196f3;
$success: #4caf50;

:export {
  primary: $primary;
  secondary: $secondary;
  accent: $accent;
  error: $error;
  warning: $warning;
  info: $info;
  success: $success
}

