<v-container class="error-container text-center height-center" fill-height>
    <v-layout justify-center>
        <v-flex md10>
            <v-card>
                <v-card-text>
                    <div class="d-flex flex-column">
                        <div class="mt-4">
                            <h1 class="display-2 error--text">{{title}}</h1>
                        </div>
                        <div class="my-4">
                            <h1 class="display-1 gray--text">{{errorCode}}</h1>
                        </div>
                        <div>
                            <v-divider color="error"></v-divider>
                        </div>
                        <div class="my-6">
                            <div class="text--primary ma-6">
                                {{message}}
                            </div>
                        </div>
                    </div>
                </v-card-text>
                <v-card-actions align-center>
                    <v-flex md12 class="form-group">
                        <div class="my-6">
                            <v-btn to="/home" color="error">Voltar</v-btn>
                        </div>
                    </v-flex>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>

</v-container>

