<v-container fluid align-center class="d-flex">
    <v-layout align-center justify-center row>
        <v-flex xs12>
            <v-layout justify-center>
                <v-flex md8 class="error-card">
                    <v-card>
                        <v-card-text>
                            <p class="display-1 text--primary">
                                ERRO
                            </p>
                            <div class="text--primary">
                                <v-alert dense outlined type="error">
                                    Mensagem de erro. lorem ipsum sit dolor amet
                              </v-alert>
                            </div>
                        </v-card-text>
                        <v-card-actions align-center>
                            <v-flex md12 class="error-card form-group">
                                <v-btn text color="deep-purple" class="pa-2">
                                    Página de Login
                                </v-btn>
                                <v-btn text color="deep-purple" class="pa-200">
                                    Página Inicial
                                </v-btn>
                            </v-flex>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</v-container>